@import '../App/global.scss';


.caseStudies__container {
  width: 100%;
  display: flex;
  font-family: $futura;
  flex-direction: column;
}
.caseStudies {
  display: flex;
}
.caseStudies__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 3vh;
  }

  img {
    width: 100%;
    // height: 100%;
  }

}