@import '../App/global.scss';


.caseStudies__container {
  width: 100%;
  position: relative;
  background: $white;
  // z-index: 3;
  // height: 100vh;
  // position: absolute;
  // scroll-behavior: smooth;
}
.caseStudy {
  display: flex;
  flex-direction: column;
}
.caseStudy__banner {
  // background: url(../../../dist/banners/tako.jpg) 50% 50% no-repeat;
  // background-size: cover;
  width: 100%;
  height: 50vh;
  img {
    object-fit: cover;
    height: 50vh;
    width: 100%;
    // height: 100%;
  }
}
.caseStudy__description {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;

  p {
    font-family: "sen";
    font-weight: 400;
    color: $body;
    line-height: 1.6;
  }

  * {
    margin: 5%;
  }
}
.caseMockups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}
.caseMockups__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 3%;

  img {
    height: 125px;
    width: auto;
  }
}
.case__offset {
  display: flex;
  justify-content: center;
  padding: 25% 0;

  div {
    display: flex;
    flex-direction: column;
    img {
      width: 175px;
      height: auto;
      margin: 5px;
      box-shadow: 0 30px 60px rgba(0,0,0,.15);
    }
  }
  
}
@media only screen and (min-width: 1080px) {
  // .caseStudies__container {
  //   position: absolute;
  // }
  .case__offset {
    padding: 10% 0;

    div {
      img {
        width: 500px;
        margin: 20px;
      }
    }
  }
  .caseMockups__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    img {
      height: 250px;
    }
  }
  .caseStudy {
    flex-direction: row;
    position: relative;
  }
  .caseStudy__banner {
    width: 50vw;
    height: 100vh;
     img {
       height: 100%;
       object-fit: cover;
     }
  }
  .header.works {
    margin-bottom: 0;
  }
  .caseStudy__description {
    width: 50vw;
    padding: 0;
    align-items: flex-start;
    * {
      margin: 3% 5%;
    }
    p {
      width: 60%;

    }
  
  }
}

// .caseStudies__container {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   color: $darkGrey;
//   background: $white;
// }
// .caseStudies {
//   display: flex;
// }
// .caseStudies__col {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
  
//   h2 {
//     font-family: "leiko";
//     font-size: 6vw;
//     font-weight: 500;
//     margin-bottom: 3vh;
//   }
  
//   img {
//     object-fit: cover;
//     height: 30vh;
//     width: 100%;
//     // height: 100%;
//   }

// }

// @media only screen and (min-width: 1080px) {
//   .caseStudies__col {
//     width: 50%;
//     height: auto;

//     h2 {
//       font-size: 3vw;
//     }
//     img {
//       height: auto;
//     }
//   }
// }