@import '../App/global.scss';

.photography__container {
  width: 100%;
  height: 100%;
  font-family: $futura;
  z-index: 0;
  background: $white;
}
.portfolio__link {
  text-decoration: none;
}
.photoNav__container {
  padding: 1vh 3vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 6vw);
  z-index: 1;
}
.photography__banner {
  display: flex;
  height: 40vh;
  background: url(../../../dist/photobanner.jpg) 50% 50%;
  // background: url(https://breezyyblake.s3-us-west-1.amazonaws.com/DSC05710.jpg) 50% 50%;
  background-size: cover;
  align-items: flex-end;
  // justify-content: center;
  font-size: 42px;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
  // font-style: italic;
  h1 {
    padding: 0 3vw 2vh;
  }
}
.photography__body {
  width: calc(100% - 12vw);
  display: flex;
  padding: 3vh 6vw;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 5vh 0 3vh;
    font-family: "leiko";
  }
  p {
    font-family: "sen";
    color: $body;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5vh;
    line-height: 1.4;
  }
}
.row {
  width: 100%;
  display: flex;
  // padding: 0 4px;
}
.col {
  display: flex;
  // flex: 33%;
  width: 33%;
  
  img {
    margin: 8px 4px 0 4px;
    width: calc(100% - 8px);
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 5px;
  }
}
// .row {
//   display: flex;
//   flex-wrap: wrap;
// }
// .col {
//   flex: 48%;
//   // max-width: 100%;
// }
// .col img {
//   width: 100%;
// }

@media only screen and (min-width: 1080px) {
  .photography__banner {
    height: 100vh;
    background-attachment: fixed;
    font-size: 144px;
  }
  
  .photography__body {
    width: calc(100% - 6vw);
    padding: 3vh 3vw;
    h2 {
      padding: 15vh 0 3vh;
      font-size: 42px;
    }
    p {
      width: 30%;
      font-size: 24px;
      padding-bottom: 10vh;
    }
  }
  .col {
    padding: 0 4px;
    margin: 0;
  }
}
// .photography__body__left {
//   width: 30%;
//   padding-top: 5vh;

//   h2 {
//     font-size: 48px;
//     padding-bottom: 10px;
//   }
// }
// .photography__body__right {
//   width: 70%;
//   display: flex;
  
//   // img {
//     //   width: 300px;
//     //   // height: 650px;
//     // };
//   }