@import '../App/global.scss';

.photography__container {
  width: 100%;
  height: 100%;
  font-family: $futura;
  z-index: 0;
  background: $white;
}
.portfolio__link {
  text-decoration: none;
}
.photoNav__container {
  padding: 1vh 3vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 6vw);
  z-index: 1;
}
.photography__banner {
  display: flex;
  height: 100vh;
  background: url('../../../dist/assets/DSC05710.jpg') 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  align-items: flex-end;
  // justify-content: center;
  font-size: 144px;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  h1 {
    padding: 0 3vw 2vh;
  }
}
.photography__body {
  width: calc(100% - 6vw);
  display: flex;
  padding: 3vh 3vw;
  // text-align: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 42px;
    font-weight: 500;
    padding: 15vh 0 3vh;
  }
  p {
    width: 30%;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10vh;
    line-height: 1.4;
  }
}

.row {
  // justify-content: center;;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.col {
  flex: 25%;
  // max-width: 25%;
  padding: 0 4px;
}
.col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
// .photography__body__left {
//   width: 30%;
//   padding-top: 5vh;

//   h2 {
//     font-size: 48px;
//     padding-bottom: 10px;
//   }
// }
// .photography__body__right {
//   width: 70%;
//   display: flex;
  
//   // img {
//     //   width: 300px;
//     //   // height: 650px;
//     // };
//   }