@import '../App/reset.scss';


// Color Scheme
$grey: #eeeeee;
$white: #FAFAFA;
$offWhite: #D5D5D5;
$black: #1F1F1F;
$darkGrey: #313131;
$pink: #c01c74;


// Fonts
@import url("https://use.typekit.net/lgq8oyh.css");
$futura: 'Futura PT', sans-serif;

@import url("https://use.typekit.net/lgq8oyh.css");
$backspace: 'backspacer-square', sans-serif;

html, body {
  margin: 0;
  padding: 0;
  z-index: 1;
  max-width: 100%;
  // height: 100%;
  overflow-x: hidden;
  // background: $white;
  // background: $black;
}

body {
  background: #F4F4F4;
}
// $landing: 
