@import '../App/reset.scss';


// Color Scheme
$grey: #eeeeee;
$white: #FAFAFA;
$offWhite: #D5D5D5;
$black: #1F1F1F;
$darkGrey: #313131;
$green: #218E79;
$lightgreen: #30caab;
$body: #5d5d5d;
$red: #d3667b;
$silver: #c3c3c3;


// Fonts
@import url("https://use.typekit.net/lgq8oyh.css");
$futura: 'Futura PT', sans-serif;

@import url("https://use.typekit.net/lgq8oyh.css");
$backspace: 'backspacer-square', sans-serif;

@import url("https://use.typekit.net/lgq8oyh.css");
$freight: freight-big-pro, serif;

// html, body {
//   margin: 0;
//   padding: 0;
//   z-index: 0;
//   max-width: 100%;
//   overflow-x: hidden;
//   background: #F4F4F4;
// }
html, body {
  // height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  max-width: 100%;
  overflow-x: hidden;

}

body {
  // background: #F4F4F4;
}

.button {
  font-family: $futura;
  color: $darkGrey;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 25px;
  background: none;
  border: 2px solid $darkGrey;
  transition: .2s ease-in;

  &:hover {
    color: $white;
    background: $green;
    border: 2px solid $green;
  }
}
.switch {
  position: relative;
  height: calc("100vh - 50px");
  width: 100vw;


  & > div {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.cta {
  position: relative;
  margin-right: auto;
  padding: 10px 16px;  
  transition: all .2s ease;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($green,.5);
    width: 36px;
    height: 36px;
    transition: all .4s cubic-bezier(1,.25,0,.75);
  }
  span {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
    color: $black;
  }
  svg {
    position: relative;
    top: 2px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .4s cubic-bezier(1,.25,0,.75);
  }
  &:hover {
    &:before {
      width: 100%;
      background: rgba($green, .5);
    }
    svg {
      transform: translateX(0)
    }
  }
  &:active {
    transform: scale(.96);
  }
}

.header {
  // font-family: $freight;
  color: $darkGrey;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3vh;
}
.no__margin {
  margin-right: 0;
}
.freight {
  // font-family: $freight;
}
@media only screen and (min-width: 1080px) {
  .header {
    font-size: 2.6vw;
    margin-bottom: 10vh;
  }
  .cta {
    padding: 18px 22px;

    &:before {
      width: 56px;
      height: 56px;
    }
    span {
      font-size: 16px;
    }
    svg {
      top: 0;
    }
  }
}