@import '../App/global.scss';

.about__container {
  width: 100%;
  height: 100%;
  font-family: $futura;
  z-index: 0;
  background: $white;
}
.about__banner {
  display: flex;
  height: 80vh;
  background: url(https://breezyyblake.s3-us-west-1.amazonaws.com/DSC07848.jpg) 50% 65%;
  background-size: cover;
  align-items: flex-end;
  // justify-content: center;
  font-size: 42px;
  color: $white;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  h1 {
    padding: 0 3vw 2vh;
  }
}

@media only screen and (min-width: 1080px) {
  .about__banner {
    height: 100vh;
    background-attachment: fixed;
    font-size: 144px;
  }
}