@import '../App/global.scss';

.navigation__container {
  font-family: $futura;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 90%;
  padding: 1vh 3vw;
  // mix-blend-mode: difference;

  // color: $white;
}
.navigation__container__left {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  .navigation__logo {
    text-decoration: none;
  }
  h1 {
    color: $darkGrey;
    font-family: $backspace;
    mix-blend-mode: difference;
    // font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    transition: all .2s cubic-bezier(1,.25,0,.75);
    color: $white;
    text-transform: uppercase;
    mix-blend-mode: difference;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
        to right,
        #218E79,
        #218E79 50%,
        $darkGrey 50%);
    background-size: 200% 100%;
    background-position: 100%;
  
    &:hover {
      background-position: 0%;
    }
  }
  // h1:hover {
  //   color: #218E79;
  // }
  h3 {
    font-weight: 300;
    font-size: 20px;
    padding-left: 5px;
    // mix-blend-mode: difference;

  }
}
// Hamburger
.toggler {
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  top: -5px;
  right: 0;
  margin: 2em auto;
  z-index: 20;
  outline: none;
  position: fixed;
  padding-right: 20px;
}
.hamburger {
  padding-right: 20px;
  outline: none;
  position: fixed;
  top: -5px;
  right: 0;
  margin: 2em auto;
  z-index: 15;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  border-radius: 50%;
  isolation: isolate;
}
.hamburger > div {
  position: relative;
  width: 50%;
  height: 2px;
  background: $darkGrey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all .4s ease;
}
.hamburger > div:before,
.hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger > div:after {
  top: 8px;
}
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.toggler:checked + .hamburger > div:before, 
.toggler:checked + .hamburger > div:after {
  top: 0;
  width: 100%;
  transform: rotate(90deg);
}
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.sidebar {
  z-index: 1;
  position: fixed;
  display: flex;
  height: 100%;
  flex-direction: column;
  left: 1vw;
  justify-content: center;

  li {
    color: $darkGrey;
    margin: 3vh 0;
  }
  svg {
    fill: #8d8d8d;
    transition: .2s linear;
  }
  svg:hover {
    // stroke: #218E79;
    fill: #218E79;
  }
}