@import '../App/global.scss';

.case-page {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  font-family: $futura;
  background: $white;
}
.case-banner {
  // background: url('../../assets/takobanner.png') 50% 50% fixed;
  background-size: cover;
  color: white;
  width: 100%;

  .case-banner-overlay {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 80vh;
    padding: 5vh 30% 10vh 10%;
    background: rgba(0,0,0,.3);
  }

  h2 {
    font-weight: 500;
    font-size: 6vw;
    margin-bottom: 2vh;
  }
  span {
    font-size: 8vw;
    font-weight: 600;
  }
}
.case-summary {
  width: calc(100% - 10vw);
  margin: 0 auto;
  position: relative;
  padding: 5vh 0;
}
.case-summary-divider {
  display: flex;
  flex-direction: column;

  .case-summary-left {
    width: 100%;
    font-size: 4vw;
    // margin: 0 auto;
    p {
      font-size: 5vw;
      color: #a3a3a3;
      font-weight: 460;
      line-height: 7vw;
      margin: 0;
      padding-bottom: 5vh;
    }
    .case-mission {
      padding-top: 5vh;
      line-height: 6vw;
    }
    .case-mission-header {
      // font-size: 1.4vw;
      padding-bottom: 1vh;
    }
    .case-mission-statement {
      color: #5d5d5d;
      padding-bottom: 2vh;
      font-weight: 300;
    }
  }
  .case-summary-right {
    h4 {
      font-size: 3vw;
      color: #d3d3d3;
      margin: 0;
      font-weight: 400;
    }
    p {
      font-weight: 400;
      margin: 1.5vh 0;
      font-size: 3.4vw;
    }
  }
}
.case-photo {
  width: 100%;
  height: 30vh;
  
}
.first {
  // background: url('../../assets/composite1.png') 50% 50%;
}
.second {
  // background: url('../../assets/stitch2.jpg') 50% 50%;
  background-size: cover;
}
.third {
  margin-top: 1vh;
}  

@media only screen and (min-width: 1080px) {
  .case-banner {
    background-attachment: fixed;

    .case-banner-overlay {
      height: 85vh;
    }
    h2 {
      font-size: 1.736vw;
    }
    span {
      font-size: 4.514vw;
    }
  }
  .case-summary {
    width: calc(100% - 20vw);
    padding: 20vh 0;
  }
  .case-summary-divider {
    flex-direction: row;
    .case-summary-left {
      width: 50%;
      font-size: 1.4vw;
      p {
        font-size: 1.8vw;
        line-height: 3.3vw;
        color: #d3d3d3;
      }
      .case-mission {
        line-height: 2.3vw;
      }
    }
    .case-summary-right {
      margin: 0 auto;
      h4 {
        font-size: 1vw;
      }
      p {
        font-size: 1.52vw;
        margin: 3vh 0;
      }
    }
  }
  .case-photo {
    height: 100vh;
  }
}

// @include media("<=phone") {
//   .case-banner {
//     .case-banner-overlay {
//       h2 {
//         font-size: 5.333vw;
//       }
//       span {
//         font-size: 9.333vw;
//         letter-spacing: -.376vw;
//       }
//     }
//   }
//   .case-summary-divider {
//     flex-direction: column;

//     .case-summary-left, .case-summary-right {
//       width: 100%;
//       font-size: 4.267vw;
      
//       p {
//         font-size: 5.6vw;
//         line-height: 10.667vw;
//       }
//       .case-mission {
//         line-height: 7.733vw;
//       }
//     }
//   }
//   .first, .second, .third {
//     height: 400px;
//     // background-size: contain;
//   }
// }