@import '../App/global.scss';

.landing {
  width: 100%;
  height: 100%;
  color: $darkGrey;
  font-family: $futura;
  position: relative;
  z-index: 0;
}
.landing__container {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  margin-bottom: 5vh;
}
.landing__container__left {
  width: calc(100% - 10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5vh 0;
  // padding-left: 20%;
  // padding-right: 2%;
  // align-items: center;
  
  h1 {
    font-weight: 500;
    white-space: nowrap;
    font-size: 36px;
    line-height: 1.2em;
    z-index: 1;
  }
  .line {
    width: 112px;
    height: 20px;
    border-bottom: 2px solid $darkGrey;
    // position: absolute;
  }
  h3 {
    padding-top: 20px;
    white-space: nowrap;
    line-height: 1.3;
    font-size: 18px;
    color: #8D8D8D;
    z-index: 1;
  }

  .landing__cta {
    text-decoration: none;
    text-transform: uppercase;
    color: $darkGrey;
    margin-top: 60px;
    border: 2px solid $darkGrey;
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    z-index: 1;
  }
}
.landing__container__right {
  width: 100%;
  background: url('../../../dist/assets/DSC05094.jpg') 50% 0%;
  background-size: cover;
  height: 60vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    position: absolute;
    font-size: 100px;
    color: #E5E5E5;
    font-weight: bold;
    font-style: italic;
    z-index: 1;
    mix-blend-mode: soft-light;
  }
}

.landing__about__container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6vw);
  padding: 0 3vw;
}
.landing__about__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &.hero {
    padding: 0;
    // padding-left: 1vw;
    // align-items: center;
  }

}
.landing__about__copy {
  h2 {
    margin-top: 3vh;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2vh;
    line-height: 1.2;
  }
  p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #8D8D8D;
  }
  &.skills {
    font-size: 14px;
    font-weight: 500;
    color: $darkGrey;
    * {
      margin: 20px 0;
    }
  }

}
.landing__about__hero {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 80%;
  z-index: 1;
  box-shadow: 0px 20px 40px rgba(0,0,0,.2);
}
.landing__about__border {
  z-index: 0;
  position: absolute;
  display: none;
  &.dark {
    right: 35px;
    bottom: 175px;
  }
  &.light {
    left: 60px;
    top: 185px;
  }
}
.landing__works {
  width: calc(100% - 10vw);
  text-align: center;
  margin: 5vh auto;
}
.landing__work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.landing__work__items {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;

  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}
// .ramen {
//   background: url('../../../dist/assets/Nishi_04.jpg') 50% 50%;
// }
// .landing__about__work__col {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   h2 {
//     font-size: 34px;
//     font-weight: 500;
//     margin-bottom: 3vh;
//   }

//   img {
//     width: 100%;
//     // height: 100%;
//   }

// }
@media only screen and (min-width: 1080px) {
  .landing__container {
    flex-direction: row;
    margin-bottom: 0;
  }
  .landing__container__left {
    width: 20%;
    padding-left: 20%;
    padding-right: 2%;
    margin: 0;
    // padding-top: 0;

    h1 {
      font-size: 50px;
    }
    h3 {
      font-size: 26px;
    }
  }
  .landing__container__right {
    width: 60%;
    height: 100vh;

    h4 {
      font-size: 200px;
    }
  }
  .landing__about__container {
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .landing__about__col {
    flex: 25%;
    align-items: center;
    &.hero {
      padding-left: 1vw;
    }
  }
  .landing__about__hero {
    width: 400px;
    height: auto;
  }
  .landing__about__copy {
    width: 450px;

    h2 {
      font-size: 50px;
      margin-top: 0;
    }
    p {
      font-size: 24px;
    }
    &.skills {
      font-size: 20px;

      * {
        margin: 30px 0;
      }
    }
  }
  .landing__about__border {
    display: block;
  }
}