@import '../App/global.scss';


.landing {
  width: 100%;
  height: 100%;
  color: $darkGrey;
  font-family: $futura;
  // position: absolute;
  // position: relative;
  z-index: 0;
}
.landing__container {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  margin-bottom: 5vh;
}
.landing__container__left {
  width: calc(100% - 10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 5vh 0;
  position: relative;
  
  h1 {
    font-weight: 6vw;
    white-space: nowrap;
    font-size: 8vw;
    line-height: 1.2em;
    z-index: 1;
  }
  .line {
    width: 112px;
    height: 20px;
    border-bottom: 2px solid $darkGrey;
    margin-left: -10%;
  }
  h3 {
    padding-top: 20px;
    white-space: nowrap;
    line-height: 1.3;
    font-size: 18px;
    color: #8D8D8D;
    z-index: 1;
  }

  .landing__cta {
    color: $darkGrey;
    margin-top: 20px;
    // text-align: center;
    z-index: 1;
  }
}
.landing__container__right {
  width: 100%;
  background: url('../../../dist/assets/DSC05094.jpg') 50% 0%;
  background-size: cover;
  height: 60vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    position: absolute;
    font-size: 100px;
    color: #E5E5E5;
    font-weight: bold;
    font-style: italic;
    z-index: 1;
    mix-blend-mode: soft-light;
  }
}

.landing__about__container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6vw);
  padding: 0 3vw;
  margin: 10vh 0;
}
.landing__about__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &.hero {
    padding: 0;
    // padding-left: 1vw;
    // align-items: center;
  }

}
.landing__about__copy {
  h2 {
    margin-top: 3vh;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2vh;
    line-height: 1.2;
  }
  p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #8D8D8D;
  }
  &.skills {
    font-size: 14px;
    font-weight: 500;
    color: $body;
    * {
      margin: 20px 0;
    }
  }

}
.landing__about__hero {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 80%;
  z-index: 1;
  box-shadow: 0px 20px 40px rgba(0,0,0,.2);
}
.landing__about__border {
  z-index: 0;
  position: absolute;
  display: none;
  &.dark {
    right: 35px;
    bottom: 175px;
  }
  &.light {
    left: 60px;
    top: 185px;
  }
}
.landing__works {
  width: calc(100% - 10vw);
  text-align: center;
  margin: 10vh auto;
}
.landing__work {
  width: 100%;
  display: flex;
  padding: 0 4px;
  position: relative;
  margin-bottom: 5vh;
}
.landing__work__items {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  
  img {
    margin-top: 24px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    z-index: 0;
  }
  
  &.left { 
    align-items: flex-end;
  }
  .portrait {
    width: 80%;
    position: relative;
  }
  .landscape {
    position: relative;
  }
  .overlay {
    position: absolute;
    width: 100%;
    margin-top: 24px;
    height: calc(100% - 24px);
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .4s cubic-bezier(1,.25,0,.75);
    .overlay__items {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;
      color: $white;
      padding: 2vh 3vw;
      font-weight: 500;

      .menu__numbers {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 3px;
        width: fit-content;
        opacity: 0;
        top: -20%;
        left: 0;
        position: absolute;
        transition: all .4s cubic-bezier(1,.25,0,.75);
      }
      h4 {
        left: 0%;
        top: 0%;
        position: absolute;
        transition: all .4s cubic-bezier(1,.25,0,.75);
      }
    }
    
    &:hover {
      background: rgba($black, .3);
      .overlay__items {

        .menu__numbers {
          padding: 0 10%;
          left: -5%;
          opacity: 1;
        }
        h4 {
          left: 10%;
        }
      }
    }
  }
}
.case__title {
  position: absolute;
}
.landing__break {
  width: 100%;
  background: url('../../../dist/assets/DSC02060-3.jpg');
  background-position: 50% 60%;

  &__overlay {
    padding: 10vh 0;
    background: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 6vw;
    * {
      margin: 0 1vw;
    }
  }
  .break {
    border: 2px solid $white;
    color: $white;
  }
}

@media only screen and (min-width: 1080px) {
  .landing__container {
    flex-direction: row;
    margin-bottom: 25vh;
  }
  .landing__container__left {
    width: 20%;
    padding-left: 20%;
    padding-right: 2%;
    margin: 0;

    h1 {
      font-size: 2.8vw;
    }
    h3 {
      font-size: 1.3vw;
    }
  }
  .landing__container__right {
    width: 60%;
    height: 100vh;

    h4 {
      font-size: 200px;
    }
  }
  .landing__about__container {
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .landing__about__col {
    flex: 25%;
    align-items: center;
    &.hero {
      padding-left: 1vw;
    }
  }
  .landing__about__hero {
    max-width: 400px;
    height: auto;
  }
  .landing__about__copy {
    width: 450px;

    h2 {
      font-size: 50px;
      margin-top: 0;
    }
    p {
      font-size: 1.2vw;      
      margin-bottom: 10vh;
    }
    &.skills {
      font-size: 1.2vw;

      * {
        margin: 30px 0;
      }
    }
  }
  .landing__about__border {
    display: block;
  }
  .landing__break {
    background-attachment: fixed;
    background-position:  50% 60%;
    &__overlay {
      padding: 20vh 0;
      font-size: 2.6vw;
    }
  }
  .landing__work__items {
    .overlay {
      .overlay__items {
        font-size: 3vw;

        h4 {
          left: 15%;
          top: -50%;
        }
      }
    }
  }
  .landing__work {
    margin-bottom: 10vh;
  }
}