@import '../App/global.scss';

.landing {
  width: 100%;
  height: 100%;
  color: $darkGrey;
  font-family: $futura;
  position: relative;
  z-index: 0;
}
.landing__container {
  display: flex;
  width: 100%;
}
.landing__container__left {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
  padding-right: 2%;
  // align-items: center;
  
  h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.2em;
    z-index: 1;
  }
  .line {
    width: 112px;
    height: 10px;
    border-bottom: 2px solid $darkGrey;
    // position: absolute;
  }
  h3 {
    padding-top: 3%;
    font-size: 26px;
    color: #8D8D8D;
    z-index: 1;
  }
  h4 {
    position: absolute;
    font-size: 200px;
    color: rgba(0, 0, 0, .03);
    font-weight: bold;
    font-style: italic;
    z-index: 0;
    left: 10%;
  }
}
.landing__container__right {
  width: 60%;
  background: url('../../../dist/assets/DSC07848.jpg') 50% 75%;
  background-size: cover;
  height: 100vh;
  z-index: 1;
  .landing__container__overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
  }
}
.landing__cta {
  text-decoration: none;
  text-transform: uppercase;
  color: $darkGrey;
  margin-top: 5%;
  border: 2px solid $darkGrey;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
  z-index: 1;
}
.landing__about__container {
  width: 100%;
  height: 100vh;
}